.activeCard {
  border: 1px solid transparent;
  border-radius: 8px;
  background-image: linear-gradient(#ffffff, #ffffff),  /* inner active bg */
    linear-gradient(to right, #D2FF00, #00FFCC);         /* border gradient */
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.inactiveCard {
  border: 1px solid #D1D5DB;
  border-radius: 8px;
  background-color: #ffffff;
}
.mainHeading{
  color: #003F28;
  font-family: 'Playfair Display';
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0px;
}
.title{
  font-family: "Lato";
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #00160E;
}
.body{
  color: #6B7280;
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0px;
}






